KEY_ALIAS=""
KEY_PASSWORD=""
STORE_FILE=""
STORE_PASSWORD=""

APP_NAME="MyPOLY"

API_URL="https://api-mypoly.kro.kr/users"

KAKAO_JS_KEY=""
KAKAO_NATIVE_KEY=""
KAKAO_SCHEME=""

GOOGLE_CLIENT_ID=""
GOOGLE_SCHEME=""
